@model AccountDetailsViewModel
@{

}

<link rel="stylesheet" href="~/css/SavedCourses.css" asp-append-version="true" />

<main class="container">
    <section class="saved">
        <partial name="~/Views/Shared/AsideAccount/AsideAccount.cshtml" />

        <div class="infoDetails">
            <div class="deleteAll">
                <h2>Saved Items</h2>
                <button class="btn-delete"><img src="images/dust-bin.svg" alt="">Delete all</button>
            </div>

            <div class="chosen-courses">
                @foreach (var item in Model.SavedCourses)
                {
                    <div class="courses-cards">
                        <img class="cardImage" src="~/Images/@item.ImageName" alt="">
                        <a href="">
                            <img class="courseIcon" src="~/Images/S.svg" alt="">
                        </a>
                        <div class="cardText">
                            <h5>@item.Title</h5>
                            <p class="text-s">@item.Author</p>
                            @if (item.Discount > 0)
                            {
                                <span class="red">$ @item.Price </span>
                                <span class="gray">$ @item.Discount </span>
                            }
                            else
                            {
                                <span class="blue">$ @item.Price</span>
                            }
                            <hr>
                            <div class="watch">
                                <div class="hours">
                                    <p class="text-s"><i class="fa-regular fa-clock"></i> @item.Hours hours</p>
                                </div>
                                <div class="likes">
                                    <img src="~/Images/like.svg" alt="">
                                    <span>@($"{item.LikesNumbers}%")</span>
                                    <span class="text-s">(@($"{item.LikesProcent}k"))</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

</main>



